body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #272044;
}

.App {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}
